---
title: apikey
layout: protoc-gen-docs
number_of_entries: 7
---
<p>The <code>apikey</code> template represents a single API key, which is used for authorization checks.</p>

<p>The <code>apikey</code> template represents a single API key, used to authorize API calls.</p>

<p>Sample config:</p>

<pre><code class="language-yaml">apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: apikey
metadata:
  name: validate-apikey
  namespace: istio-system
spec:
  api: api.service | &quot;&quot;
  api_version: api.version | &quot;&quot;
  api_operation: api.operation | &quot;&quot;
  api_key: api.key | &quot;&quot;
  timestamp: request.time
</code></pre>

<h2 id="Services">Services</h2>
<h3 id="HandleApiKeyService">HandleApiKeyService</h3>
<section>
<p>HandleApiKeyService is implemented by backends that wants to handle request-time &lsquo;apikey&rsquo; instances.</p>

<pre id="HandleApiKeyService.HandleApiKey"><code class="language-proto">rpc HandleApiKey(HandleApiKeyRequest) returns (HandleApiKeyResponse)
</code></pre>
<p>HandleApiKey is called by Mixer at request-time to deliver &lsquo;apikey&rsquo; instances to the backend.</p>

</section>
<h2 id="Types">Types</h2>
<h3 id="HandleApiKeyRequest">HandleApiKeyRequest</h3>
<section>
<p>Request message for HandleApiKey method.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="HandleApiKeyRequest.instances">
<td><code>instances</code></td>
<td><code><a href="#Type">Type[]</a></code></td>
<td>
<p>&lsquo;apikey&rsquo; instances.</p>

</td>
</tr>
<tr id="HandleApiKeyRequest.adapter_config">
<td><code>adapterConfig</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any">google.protobuf.Any</a></code></td>
<td>
<p>Adapter specific handler configuration.</p>

<p>Note: Backends can also implement <em>InfrastructureBackend</em>
service and therefore opt to receive handler configuration during session creation through <em>InfrastructureBackend.CreateSession</em>
call. In that case, adapter<em>config will have type</em>url as &lsquo;google.protobuf.Any.type<em>url&rsquo; and would contain string
value of session</em>id (returned from InfrastructureBackend.CreateSession).</p>

</td>
</tr>
<tr id="HandleApiKeyRequest.dedup_id">
<td><code>dedupId</code></td>
<td><code>string</code></td>
<td>
<p>Id to dedupe identical requests from Mixer.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="HandleApiKeyResponse">HandleApiKeyResponse</h3>
<section>
<p>Response message for HandleApiKey method.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="HandleApiKeyResponse.status">
<td><code>status</code></td>
<td><code><a href="#google.rpc.Status">google.rpc.Status</a></code></td>
<td>
<p>The success/failure status of HandleApiKey call.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceMsg">InstanceMsg</h3>
<section>
<p>Contains instance payload for &lsquo;apikey&rsquo; template. This is passed to infrastructure backends during request-time
through HandleApiKeyService.HandleApiKey.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceMsg.name">
<td><code>name</code></td>
<td><code>string</code></td>
<td>
<p>Name of the instance as specified in configuration.</p>

</td>
</tr>
<tr id="InstanceMsg.api">
<td><code>api</code></td>
<td><code>string</code></td>
<td>
<p>The API being called (api.service).</p>

</td>
</tr>
<tr id="InstanceMsg.api_version">
<td><code>apiVersion</code></td>
<td><code>string</code></td>
<td>
<p>The version of the API (api.version).</p>

</td>
</tr>
<tr id="InstanceMsg.api_operation">
<td><code>apiOperation</code></td>
<td><code>string</code></td>
<td>
<p>The API operation is being called.</p>

</td>
</tr>
<tr id="InstanceMsg.api_key">
<td><code>apiKey</code></td>
<td><code>string</code></td>
<td>
<p>API key used in API call.</p>

</td>
</tr>
<tr id="InstanceMsg.timestamp">
<td><code>timestamp</code></td>
<td><code><a href="https://istio.io/docs/reference/config/mixer/istio.mixer.adapter.model.v1beta1.html#TimeStamp">istio.mixer.adapter.model.v1beta1.TimeStamp</a></code></td>
<td>
<p>Timestamp of API call.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceParam">InstanceParam</h3>
<section>
<p>Represents instance configuration schema for &lsquo;apikey&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.api">
<td><code>api</code></td>
<td><code>string</code></td>
<td>
<p>The API being called (api.service).</p>

</td>
</tr>
<tr id="InstanceParam.api_version">
<td><code>apiVersion</code></td>
<td><code>string</code></td>
<td>
<p>The version of the API (api.version).</p>

</td>
</tr>
<tr id="InstanceParam.api_operation">
<td><code>apiOperation</code></td>
<td><code>string</code></td>
<td>
<p>The API operation is being called.</p>

</td>
</tr>
<tr id="InstanceParam.api_key">
<td><code>apiKey</code></td>
<td><code>string</code></td>
<td>
<p>API key used in API call.</p>

</td>
</tr>
<tr id="InstanceParam.timestamp">
<td><code>timestamp</code></td>
<td><code>string</code></td>
<td>
<p>Timestamp of API call.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="Type">Type</h3>
<section>
<p>Contains inferred type information about specific instance of &lsquo;apikey&rsquo; template. This is passed to
infrastructure backends during configuration-time through <em>InfrastructureBackend.CreateSession</em>.</p>

</section>
<h3 id="google.rpc.Status">google.rpc.Status</h3>
<section>
<p>The <code>Status</code> type defines a logical error model that is suitable for different
programming environments, including REST APIs and RPC APIs. It is used by
<a href="https://github.com/grpc">gRPC</a>. The error model is designed to be:</p>

<ul>
<li>Simple to use and understand for most users</li>
<li>Flexible enough to meet unexpected needs</li>
</ul>

<h4 id="overview">Overview</h4>

<p>The <code>Status</code> message contains three pieces of data: error code, error message,
and error details. The error code should be an enum value of
<em>google.rpc.Code</em>, but it may accept additional error codes if needed.  The
error message should be a developer-facing English message that helps
developers <em>understand</em> and <em>resolve</em> the error. If a localized user-facing
error message is needed, put the localized message in the error details or
localize it in the client. The optional error details may contain arbitrary
information about the error. There is a predefined set of error detail types
in the package <code>google.rpc</code> that can be used for common error conditions.</p>

<h4 id="language-mapping">Language mapping</h4>

<p>The <code>Status</code> message is the logical representation of the error model, but it
is not necessarily the actual wire format. When the <code>Status</code> message is
exposed in different client libraries and different wire protocols, it can be
mapped differently. For example, it will likely be mapped to some exceptions
in Java, but more likely mapped to some error codes in C.</p>

<h4 id="other-uses">Other uses</h4>

<p>The error model and the <code>Status</code> message can be used in a variety of
environments, either with or without APIs, to provide a
consistent developer experience across different environments.</p>

<p>Example uses of this error model include:</p>

<ul>
<li><p>Partial errors. If a service needs to return partial errors to the client,
it may embed the <code>Status</code> in the normal response to indicate the partial
errors.</p></li>

<li><p>Workflow errors. A typical workflow has multiple steps. Each step may
have a <code>Status</code> message for error reporting.</p></li>

<li><p>Batch operations. If a client uses batch request and batch response, the
<code>Status</code> message should be used directly inside batch response, one for
each error sub-response.</p></li>

<li><p>Asynchronous operations. If an API call embeds asynchronous operation
results in its response, the status of those operations should be
represented directly using the <code>Status</code> message.</p></li>

<li><p>Logging. If some API errors are stored in logs, the message <code>Status</code> could
be used directly after any stripping needed for security/privacy reasons.</p></li>
</ul>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="google.rpc.Status.code">
<td><code>code</code></td>
<td><code>int32</code></td>
<td>
<p>The status code, which should be an enum value of <em>google.rpc.Code</em>.</p>

</td>
</tr>
<tr id="google.rpc.Status.message">
<td><code>message</code></td>
<td><code>string</code></td>
<td>
<p>A developer-facing error message, which should be in English. Any
user-facing error message should be localized and sent in the
<a href="#google.rpc.Status.details">google.rpc.Status.details</a> field, or localized by the client.</p>

</td>
</tr>
<tr id="google.rpc.Status.details">
<td><code>details</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any">google.protobuf.Any[]</a></code></td>
<td>
<p>A list of messages that carry the error details.  There is a common set of
message types for APIs to use.</p>

</td>
</tr>
</tbody>
</table>
</section>
